# Logs
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# Dependency directories
node_modules

# Metadata for IntelliJ IDEA IDEs
.idea

# Metadata for VSCode
.vscode
